<div class="score-rule-alert">
	<h3>积分获取规则：</h3>
	<ul>
		<li>1、每日分享获得积分，1次分享2分  当日多次分享不再记分</li>
		<li>2、签到完成获得积分，1次签到1分  当日多次签到不再记分</li>
		<li>3、订单完成获得积分，1元获得1分</li>
		<li>4、评论完成获得积分，1次评论5分</li>
	</ul>
</div>