<div class="partner-rule">
	<section>
		<p>从2015年11月1日起，启动社群管理办法。针对社群管理，现对社群招商和销售订单做如下激励政策。</p>
		<p>引荐冠军奖励，社群中的会员引荐其他人注册到自己所在社群店主名下，成为会员，并引荐到所在群中，注册并引荐人数是所在群最多的会员将获得淘金子总部颁发的<b>666元现金</b>奖励。</p>
	</section>
	<section>
		<p>获取奖金条件：</p>
		<ul>
			<li>1.引荐的小伙伴必须成为所在淘金子社群店主的会员；</li>
			<li>2.引荐的小伙伴必须进入社群；</li>
			<li>3.在所在群中引荐人数最多的会员获得此奖。</li>
		</ul>
	</section>
	<section>
		<p>发奖时间：每晚21点30分</p>
		<p>发奖形式：发放到获奖者淘金子账户中</p>
		<p>活动时间：2015年11月1日至2015年11月4日</p>
	</section>
</div>