<% _.each(list, function(item){  %>
<div class="comment">
	<div class="comment-t clearfix">
		<label><%= item.user_name %></label>
		<label class="right"><%= item.gmt_createtime %></label>
	</div>
	<div class="comment-des"><%= item.content %></div>
</div>
<% }) %>