<div id="J-panel-cm"  class="panel-cm add-phone">
	<div class="mask"></div>
	<div class="panel-content">
		<form>
			<div class="g-item dib-wrap">
				<div class="img-wrap dib" style="background-image: url(/static/images/test/tuan-1.png)"></div>
				<div class="g-mid dib">
					<div class="g-title">御泥坊爽肤水玫瑰滋养润肤水150ml补玫瑰滋养润肤水150ml补</div>
					<div class="price"><i>&yen;</i><b id="J-sku-price">62.00</b></div>
				</div>
				<div class="close dib"></div>
			</div>
			<div id="J-cm-amount" class="cm-amount clearfix">
				<label>库存量：<span id="J-last-num">98</span></label>
				<div class="right">
					<ul class="J-amount-bar amount-bar dib-wrap" max="100" min="1">
						<li class="btn-minus dib"><i class="icon"></i></li>
						<li class="amount-val dib">1</li>
						<li class="btn-add dib"><i class="icon"></i></li>
					</ul>
				</div>
			</div>
			<section id="J-phone-panel" class="phone-panel">
				<div class="phone-title">免登录直接购买</div>
				<div class="phone-content">
					<div class="input-wrap">
						<label>手机号</label>
						<input id="phone2" type="tel" placeholder="请输入您的手机号码" value="15210010587" />
					</div>
					<div class="yzm clearfix">
						<div class="input-wrap">
							<label>验证码</label>
							<input id="code2" type="number" placeholder="输入短信验证码" />
						</div>
						<button id="J-yzm-bt2" type="button">获取验证码</button>
					</div>
					<div>
						<button id="J-phone-ok2" class="btnl btnl-wx">确认</button>
					</div>
				</div>
			</section>
			<section class="cm-foot">
				<button type="submit" class="J-ok btn">确定</button>
			</section>
		</form>
	</div>
</div>