<div class="recommend-alert-content">
	<p class="title">确认服务人</p>
	<section class="userinfo">
		<div class="img-wrap headimg" style="background-image:url(<%= head_sculpture %>)"></div>
		<p class="user-name"><%= nickname %></p>
		<p class="phone-label"><%= cellphone %></p>
	</section>
    <div class="btn-content">
    	<button type="button" class="J-yes-btn btnl">确认</button>
    </div>
    <div class="modify-wrap">
    	<a class="modify-link">修改服务人手机号</a>
    </div>
</div>