<div class="recommend-alert-content">
	<p class="title">修改服务人</p>
	<% if(!noLimit){ %>
	<p class="tips">*每月只能修改一次哦</p>
	<% } %>
	<div class="input-wrap">
        <label>手机号</label>
        <input class="J-phone" type="tel" name="phone" placeholder="请输入服务人手机号码" autocomplete="off">
    </div>
    <div class="btn-content">
    	<button type="button" class="J-yes-btn btnl">确认</button>
    </div>
</div>