@charset "UTF-8";
/**
 * 
 * @authors kebai
 * @date    2014-10-31 11:56:16
 * @version $Id$
 */
/*---------reset----------*/
html,body{ 
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust:none; 
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}
 img{
    border:none;
} 
ol,ul {
    list-style:none;
}
 
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
a:focus {
    outline:none;
}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input [type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: medium none;
    padding: 0;
}
a:focus, input:focus {noFocusLine: expression(this.onFocus=this.blur());
    -webkit-tap-highlight-color:rgba(0,0,0,0); 
    -webkit-user-modify:read-write-plaintext-only; 
}
body{-webkit-tap-highlight-color:rgba(0,0,0,0);}

div{word-break:break-all;word-wrap: break-word;}

/*---------public--------*/ 

html,body{width:100%; height:100%}

.body{ font-family :'microsoft yahei','微软雅黑','宋体',Arial,Helvetica,sans-serif;background: #d51731; color: #fff; font-size:140%; line-height:160%; word-break:break-all;word-wrap: break-word; width:960px}
 
 
.cont-box{margin:4%; margin-top:2%; overflow:hidden;}
.img,.img img{width: 100%; vertical-align: top;border: none; position: relative;}
.pos-text{ position: absolute; z-index: 10; left:4%; margin-top:3%; font-size: 80%;}

.signin-btn{ width:280px; height:55px; line-height:55px;margin:0px auto; font-size:30px; background: #fdd623;  color: #b1081b; text-align: center; cursor: pointer;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
 }
 .signin-btn.disabled{
 	background-color: #d7d7d7;
 	color: #fff;
 }
.text{ margin-top: 15px; text-align: center;}
.text span{ display: inline-block;  padding:0 3px;  font-size: 140%; }

.days-box{ position: relative;width: 100%;max-width: 640px; margin:20px auto; height:110px; background: url('/images/game-sign/line.png') no-repeat left center;background-size: 100%;}
.days-box span{ display:block; width: 68px; height: 68px; line-height: 68px; background: url('/images/game-sign/dy_bg.png') no-repeat; background-size: 100%;
color:#b5b5b6;text-align: center;  font-size: 130%; position: absolute; z-index: 10;
}

.days-box .dy1{ left: 6%; bottom:0;}
.days-box .dy2{ left: 24%; top:0;}
.days-box .dy3{ left: 44%; bottom:15%;}
.days-box .dy4{ left: 64%; top:7%;} 
.days-box .dy5{ left: 83%; bottom:0; background: url('/images/game-sign/dy_1.png') no-repeat; background-size: 100%; }
.days-box .active{ color:#b1081b;}
.days-box .active2{background: url('/images/game-sign/dy_2.png') no-repeat; background-size: 100%;}

.prize {font-size: 120%; }
.prize .icon{display: inline-block; height:50px; width:50px; margin-right: 10px; vertical-align: top  }
.prize .icon img{ width: 100%}

/* 转盘 */
.rotate-item{ position: relative;overflow:hidden;width: 100%; max-width: 480px; max-height:480px;margin:10px auto;margin-bottom: 20px}
.rotate-item img{width: 100%;}
.rotate-bg{width: 100%;max-width:480px;max-height:480px;overflow:hidden;position: relative;}
.prize-star {
	width: 26%;
	position: absolute;
	z-index: 10;
	left: 37%;
	top: 30%;
}
#prizestar{cursor: pointer;}
/* 获奖得主 */

.prize-item{ margin-bottom: 20px}
.prize-winner{padding:4px 15px; background: #fdd623;color: #b1081b}
.prize-cont {padding:0px 15px; background: #fff; color: #333; overflow: hidden; }
.prize-cont .prize-list{ width: 100%; overflow:hidden;height:40px; line-height: 40px; margin: 4px 0} 
.prize-cont span{ display:inline-block;white-space:nowrap; float: left; margin-right: 8px }
 
/* 活动说明 */
.title-t{ font-weight: bold; color: #b1081b; border-bottom: 2px solid #fdd623;clear: both;}
.title-t .t{ display: inline-block;  padding-left:15px; padding-right: 40px; background: url('/images/game-sign/t_bg.png') no-repeat right bottom; }
.activity-cont{ padding:10px 0; overflow: hidden;}
.act-left,.act-right{display:inline-block;background:#2e5ab0; color: #fff; position: relative; overflow: hidden; min-height:140px; font-size: 90%}
.act-left{ width: 30%; float: left;}
.act-right{width: 68%; float: right;}
.s-txt{ display: block; padding:10px 15px;}
.act-right .s-txt{ padding-right:220px }
.act-right .code{ position: absolute;z-index:10; right: 15px; top:15px;}

.instructions{ font-size: 90%; padding-top: 10px; line-height: 140%}
.instructions .space{display: block; height: 10px;}

.bot-right{clear: both; text-align: right; font-size: 80%}

@media screen and (min-width:0){ 
.body{width:100%;}    

}

@media screen and (max-width:640px){ 
.body{font-size:110%; }  
.cont-box{margin:3%;}
.text span{font-size: 120%}

.act-right .code{  right: 10px;}

}

@media screen and (max-width:480px){ 
.body{ font-size:110%;  line-height: 140% }
.signin-btn{width:180px; height: 45px; line-height: 45px; font-size: 23px}


.days-box{ margin:10px auto; height:70px; width: 100% }
.days-box span{ height: 42px; width: 42px; line-height: 42px;}

/*.prize { height: 30px; line-height: 30px}*/
.prize .icon{ height:30px; width: 30px;}


.act-left,.act-right{ width: 100%; min-height:0; margin-bottom: 10px;}
.act-right{margin-bottom:0px;}
.s-txt{ padding: 10px 15px}
.act-right .s-txt{ padding-right:190px; min-height: 100px }
.act-right .code{ width:180px;}


 
}
@media screen and (max-width:360px){ 
 .body{ font-size:100%;}
.prize-winner,.prize-cont{padding:4px 10px; }
.prize-cont .prize-list{ height: 30px; line-height: 30px}
.title-t .t{ padding-left: 10px; padding-right: 25px;}
.s-txt{ padding: 10px}
.act-right .s-txt{ padding-right:0px; min-height:auto}
.act-right .code{ position: relative;float: none; width:160px; margin: 0px auto; display: block; margin-bottom: 10px}
 
.instructions{ font-size: 90%; line-height: 120%} 
}
@media screen and (max-width:320px){ 
 .body{ font-size:95%;}  
.instructions .space{height: 8px;}
}
#chanceView{
	background: #3364c4;

}
.h5-window-content span{
	color:#000;
	font-size:20px;
	text-align:center;	
	display:block;
}

#login2View .h5-list-div span{
	color:#999;
}
.prize .b1{
	text-align:center;
	width:70%;
	display:inline-block;
	font-size:18px;
}

.prize .b2{
	text-align:center;
	font-weight:normal;
	width:100%;
	display:inline-block;
	font-size:12px;
}