@import '../ui/func.less';

#copyright{
	text-align: center;
	padding: 10px 0 5px;
	margin-top: 20px;
	
	i{
		display: inline-block;
		.bg-contain('/images/copyright2.png', 131px, 44px);
	}
}