<div class="coupon-rain-panel">
	<h3><%= title %></h3>
	<section>
		<p class="msg"><%= msg %></p>
		<div class="img-wrap icon-<%= type %>"></div>
		<div class="btn-wrap">
			<a href="/Activity/CouponRain/showCatchedCouponList" class="btnl btnl-see">领取优惠券</a>
			<a id="J-coupon-invite" class="btnl btnl-invite">邀请好友参与</a>
		</div>
	</section>
</div>