<div class="contact-panel">
	<div class="title">联系方式</div>
	<div class="btn-wrap">
		<% if(chartHref){ %>
		<a href="<%= chartHref %>" class="J-chat-chat btnl btnl-wx">聊一聊</a>
		<% } %>
		<a href="tel:<%= tel %>" class="btnl btnl-default">打电话</a>
		<a href="sms:<%= tel %>" class="btnl btnl-default">发短信</a>
	</div>
</div>