<% $.each(list, function(i, item){ %>
<li>
	<span class="title"><%= item.desc %></span>
	<span class="price <% if(item.bill_type==1){ %>income<% } %>"><%= item.amount %></span>
	<span class="date"><%= item.ctime %></span>
</li>
<% }) %>