<div class="service-alert-content">
	<p class="title">请填写您的推荐人</p>
	<div class="input-wrap phone-wrap">
        <label>手机号</label>
        <input class="J-phone" type="tel" name="phone" placeholder="请输入推荐人手机号码" autocomplete="off">
    </div>
    <div class="userinfo"></div>
    <div class="btn-content">
    	<button type="button" class="J-submit btnl btnl-wx disabled">确认</button>
    </div>
    <div class="link-wrap">
        <a class="J-self-link link">我自己逛来的</a>
    </div>
</div>