<div class="contact-panel">
	<div class="title">联系方式</div>
	<div class="btn-wrap">
		<a href="tel:<%= tel %>" class="btnl btnl-default">打电话</a>
		<a href="sms:<%= tel %>" class="btnl btnl-default">发短信</a>
	</div>
</div>