<div id="J-alert" class="alert">
	<div id="J-alert-mask" class="mask"></div>
	<div id="J-alert-content-wrap" class="alert-content">
		<i id="J-alert-close" class="icon-close"></i>
		<div id="J-alert-content"></div>
	</div>
</div>