<div class="remind-panel">
	<h3>活动已结束</h3>
	<p class="pre-tip">关注淘金子商城获得更多惊喜</p>
	<div class="img-erwei">
		<img src="http://cdn0.taojinzi.com/static/images/erwei_51bd0ae.png" />
		<div class="logo"><img src="http://cdn0.taojinzi.com/static/images/logo_2a50656.png" /></div>
	</div>
	<p class="tip">长按二维码，扫描关注</p>
</div>