<div class="remind-panel">
	<h3>淘金子粉丝专享新年福利</h3>
	<div class="img-erwei">
		<img src="<%= qrcode %>" />
		<div class="logo"><img src="http://cdn0.taojinzi.com/static/images/logo_2a50656.png" /></div>
	</div>
	<p class="tip">扫码关注，参与活动</p>
</div>