<div class="rule-panel">
	<h3>活动规则</h3>
	<ol>
		<li>每人只能领取一次福利，也只能送出一次祝福；</li>
		<li>福利有限，先到先得，发完即止；</li>
		<li>24：00～8：00点不发放福利，顺延到第二天早上陆续发放；</li>
		<li>存在1%几率因账号异常原因导致福利发放失败，不予补发；</li>
		<li>活动绝对真实，活动解释权归淘金子</li>
	</ol>
</div>