<div class="coupon-rain-panel">
	<h3><%= title %></h3>
	<section>
		<p class="msg"><%= msg %></p>
		<div class="img-wrap icon-ok"></div>
		<div class="btn-wrap">
			<a href="/User/Coupon/paySuccGetCoupon?orderId=<%= order %>" class="btnl btnl-see">去领取优惠券</a>
		</div>
	</section>
</div>