<div class="qrcode-panel">
	<h3>关注公众号获得秒杀提醒</h3>
	<div class="img-erwei">
		<img src="http://cdn.taojinzi.com/static/images/erwei_51bd0ae.png" />
		<!-- <div class="logo"><img src="/static/images/logo.png" /></div> -->
	</div>
	<p class="tip">长按二维码，扫描关注</p>
</div>