<div class="remind-panel remind-over">
	<div class="tip-wrap">
		<div class="tip-inner"><p><%= startTime%></p>准时开团</div>
	</div>
	<div class="qrcode-wrap">
		<div class="img-erwei">
			<img src="<%= qrcode %>" />
			<!--<div class="logo"><img src="http://cdn0.taojinzi.com/static/images/logo_2a50656.png" /></div>-->
		</div>
		<p class="tip">长按二维码，预约抢购</p>
	</div>
</div>