<div class="remind-panel">
	<h3>开抢提醒</h3>
	<p class="pre-tip">关注商城获得开抢提醒</p>
	<div class="img-erwei">
		<img src="<%= qrcode %>" />
		<div class="logo"><img src="http://cdn0.taojinzi.com/static/images/logo_2a50656.png" /></div>
	</div>
	<p class="tip">长按二维码，扫描关注</p>
</div>