<div class="redpackage-panel">
	<div class="inner-content">
		<p class="title">恭喜您</p>
		<p class="sub-title">抽中一个红包！</p>
		<div class="item-content item-red">
			<p class="price-wrap"><i>&yen;</i><b><%= price %></b><span class="unit">元</span></p>
			<p class="item-des">现金红包将会在3分钟内发放给您哦~<br/>(0点至8点的红包将会在8点后发放哈）</p>
		</div>
		<div class="btn-wrap">
			<a href="/Mall/Home" class="btnl">确认</a>
		</div>
	</div>
</div>