<div class="redpackage-panel ticket-panel">
	<div class="inner-content">
		<p class="title">恭喜您</p>
		<p class="sub-title">抽中一个代金券！</p>
		<div class="item-content item-ticket">
			<p class="price-wrap"><i>&yen;</i><b><%= price %></b><span class="unit">优惠券</span></p>
			<p class="item-des">请尽快使用哦</p>
		</div>
		<div class="btn-wrap">
			<a href="/User/Center/myCoupon" class="btnl">去看看</a>
		</div>
	</div>
</div>