<div id="J-confirm" class="confirm <%= type=='alert'?'alert-msg':'' %>">
	<div class="confirm-content"><%= msg %></div>
	<div class="confirm-btns">
		<button class="btn-no btnl btnl-default"><%= noLabel || '取消' %></button>
		<button class="btn-yes btnl"><%= okLabel||'确定' %></button>
	</div>
</div>