<div class="section cut-container">
	<div class="section-title">
		<span>限时限量疯砍中 (每天早10:00上新）</span>	
	</div>
	<ul class="cut-list">
		<% $.each(list, function(i, item){ %>
		<li>
			<div class="img-wrap" style="background-image: url(/static/images/test/banner.png)"></div>
			<p class="item-name">淑女绣花连衣长裙</p>
			<div class="item-foot">
				<div class="price-wrap">
					<span class="price price-low"><label>底价:</label><i>&yen;</i><b>2</b></span>
					<span class="price"><label>原价:</label><i>&yen;</i><b>128.00</b></span>
				</div>
				<div class="btn-wrap">
					<a class="btnl">发起砍价>></a>
				</div>
			</div>
		</li>
		<li class="over">
			<div class="img-wrap" style="background-image: url(/static/images/test/banner.png)"></div>
			<p class="item-name">淑女绣花连衣长裙</p>
			<div class="item-foot">
				<div class="price-wrap">
					<span class="price price-low"><label>底价:</label><i>&yen;</i><b>2</b></span>
					<span class="price"><label>原价:</label><i>&yen;</i><b>128.00</b></span>
				</div>
				<div class="btn-wrap">
					<a class="btnl">发起砍价>></a>
				</div>
			</div>
		</li>
		<% }) %>
	</ul>
</div>