<div class="hot-container">
	<ul class="tj-types">
		<li>
			<a>
				<i class="icon"></i><label>食品</label>
			</a>
		</li>
		<li>
			<a>
				<i class="icon"></i><label>保健</label>
			</a>
		</li>
		<li>
			<a>
				<i class="icon"></i><label>美妆</label>
			</a>
		</li>
		<li>
			<a>
				<i class="icon"></i><label>母婴</label>
			</a>
		</li>
		<li>
			<a>
				<i class="icon"></i><label>居家</label>
			</a>
		</li>
	</ul>
	<div class="section">
		<div class="section-title">
			<span>热销宝贝</span>
		</div>
		<div class="temai-list dib-wrap">
			<div class="temai-item dib">
				<a>
					<div class="img-wrap" style="background-image: url(/static/images/test/goods.png)"></div>
					<div class="item-info">
						<div class="item-title">clinique超值润肤水1clinique超值润肤水1</div>
						<div class="item-price">
							<span class="price">&yen; 253.00</span>
							<label class="discount">7.8折</label>
						</div>
					</div>
				</a>
			</div>
			<div class="temai-item dib">
				<a>
					<div class="img-wrap" style="background-image: url(/static/images/test/goods.png)"></div>
					<div class="item-info">
						<div class="item-title">clinique超值润肤水1clinique超值润肤水1</div>
						<div class="item-price">
							<span class="price">&yen; 253.00</span>
							<label class="discount">7.8折</label>
						</div>
					</div>
				</a>
			</div>
			<div class="temai-item dib">
				<a>
					<div class="img-wrap" style="background-image: url(/static/images/test/goods.png)"></div>
					<div class="item-info">
						<div class="item-title">clinique超值润肤水1clinique超值润肤水1</div>
						<div class="item-price">
							<span class="price">&yen; 253.00</span>
							<label class="discount">7.8折</label>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
