<div class="section worth-container">
	<div class="section-title">
		<span>全球精选</span>
	</div>
	<ul class="banner-list">
		<li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/3.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="price right"><i>&yen;</i><b>298.00</b></span>
			</div>
		</li>
		<li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/4.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="price right"><i>&yen;</i><b>298.00</b></span>
			</div>
		</li>
		<li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/5.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="price right"><i>&yen;</i><b>298.00</b></span>
			</div>
		</li>
		<li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/6.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="price right"><i>&yen;</i><b>298.00</b></span>
			</div>
		</li>
		<li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/7.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="price right"><i>&yen;</i><b>298.00</b></span>
			</div>
		</li>
		<li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/8.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="price right"><i>&yen;</i><b>298.00</b></span>
			</div>
		</li>
		<li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/9.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="price right"><i>&yen;</i><b>298.00</b></span>
			</div>
		</li>
	</ul>
</div>