<div class="section worth-container">
	<div class="section-title">
		<span>精选单品</span>
	</div>
	<ul class="banner-list">
		<li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/12.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="qi">2折起</span>
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="banner-timer right">剩1天</span>
			</div>
		</li>
		<li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/2.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="qi">2折起</span>
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="banner-timer right">剩1天</span>
			</div>
		</li>
		<li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/10.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="qi">2折起</span>
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="banner-timer right">剩1天</span>
			</div>
		</li>
		<li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/11.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="qi">2折起</span>
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="banner-timer right">剩1天</span>
			</div>
		</li>
		<li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/1.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="qi">2折起</span>
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="banner-timer right">剩1天</span>
			</div>
		</li>
		<li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/13.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="qi">2折起</span>
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="banner-timer right">剩1天</span>
			</div>
		</li>
		<!-- <li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/14.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="qi">2折起</span>
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="banner-timer right">剩1天</span>
			</div>
		</li> -->
		<li>
			<div class="img-wrap" style="background-image:url(/static/images/index-new/test/15.jpg)"></div>
			<div class="banner-info clearfix">
				<span class="qi">2折起</span>
				<span class="banner-title">海洋基因嫩颜秘诀专场</span>
				<span class="banner-timer right">剩1天</span>
			</div>
		</li>
	</ul>
</div>