<div class="cut-qrcode-panel">
	<h3>关注商城获得更多惊喜</h3>
	<div class="img-erwei">
		<img src="<%= qrCode %>" />
		<div class="logo"><img src="/static/images/logo.png" /></div>
	</div>
	<p class="tip">长按二维码，扫描关注</p>
</div>